.container{
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: #DCDCDC;
}

input{
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 5px;
}

button{
    margin: auto;
    display: block;
    width: 30%;

}

h1{
    width: 100%;
    text-align: center;
}


    

